.custom-nopadding {
	padding: 0px ! important;
}

.custom-btn-default {
	background-color: #fff;
	border-color: #ccc;
}

.pad-top5 {
	padding-top: 5px !important;
}

.pad-right5 {
	padding-right: 5px !important;
}

.pad-left20 {
	padding-left: 20px !important;
}

.pad-left0 {
	padding-left: 0px !important;
}

.pad-right0 {
	padding-right: 0px !important;
}

.mandatory-span-color {
	color: #ed5565;
}

.marg-bottom15 {
	margin-bottom: 15px !important;
}

.input-group {
	position: relative !important;
	display: table !important;
	border-collapse: separate !important;
}