<div ng-include="'resources/aone/web/commons/html/HeaderSectionAddUpdate.html'"></div>

<div class="row">
	<div class="col-lg-12 custom-nopadding">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 b-r">
						<form role="form" class="col-sm-8" name="dataForm" ng-validate="vm.validationOptions">
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.name.$invalid }">
								<label>Name</label> <input type="name"
									placeholder="Enter name" class="form-control"
									ng-model="vm.itemObj.name" name="name">
							</div>
							<div class="form-group">
								<label>Item Category</label> <select chosen class="form-control"
									ng-model="vm.itemCategoryObj"
									ng-options="itemCategory as itemCategory.name for itemCategory in vm.itemCategories"
									ng-change="vm.setItemCategoryData(vm.itemCategoryObj);">
									<option value=""></option>
								</select>
							</div>
							<!-- <div class="form-group"
								ng-class="{ 'has-error' : dataForm.salePrice.$invalid }">
								<label>Price</label> <input type="name"
									placeholder="Enter sale price" class="form-control"
									ng-model="vm.itemObj.salePrice" name="salePrice">
							</div> -->
							<div class="col-sm-12">
								<div class="row">
									<label>Item Size Mapping</label>
									<div class="col-sm-11">
										<div class="row">
											<div class="col-sm-12">
												<div class="col-sm-4">
													<div class="form-group">
														<label>Item Size</label> <select chosen
															class="form-control" ng-model="vm.itemSizeObj"
															ng-options="itemSize as itemSize.size for itemSize in vm.itemSizeList"
															ng-change="vm.setItemSizeDetails(vm.itemSizeObj);"
															data-placeholder-text-single="'Select Item Size'">
															<option value=""></option>
														</select>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group"
														ng-class="{ 'has-error' : dataForm.itemSizePrice.$invalid }">
														<label>Item Size Price</label> <input type="text"
															placeholder="Enter Item Size Price"
															class="form-control input-sm" ng-model="vm.itemSizeMappingObj.salePrice"
															name="name" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group"
														ng-class="{ 'has-error' : dataForm.itemSizePrice.$invalid }">
														<label>Item Size Base Price</label> <input type="text"
															placeholder="Enter Item Size Price"
															class="form-control input-sm" ng-model="vm.itemSizeMappingObj.basePrice"
															name="name" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-1">
										<button class="btn btn-xs btn-info"
											data-ng-click="vm.clearItemSizeMappingData(item.id);">
											<i class="fa fa-plus"></i> Clear All
										</button>
										<button class="btn btn-xs btn-primary"
											data-ng-click="vm.addItemSizeMapping();">
											<i class="fa fa-pencil"></i> Add
										</button>
									</div>
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Size</th>
											<th>Sale Price</th>
											<th>Base Price</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="itemSizes in vm.itemObj.itemSizesMappingList track by $index">
											<td>{{$index + 1}}</td>
											<td>{{itemSizes.size}}</td>
											<td>{{itemSizes.salePrice}}</td>
											<td><input type="text"
													placeholder="Item Base Price"
													class="form-control input-sm" ng-model="itemSizes.basePrice"
													name="name" />
											</td>
											<td>
												<button class="btn btn-xs btn-danger"
													data-ng-click="vm.deleteItemSizeMapping($index);">
													<i class="fa fa-trash-o"></i> Delete
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<label>Item Scheme Mapping</label>
									<div class="col-sm-11">
										<div class="row">
											<div class="col-sm-12">
												<div class="col-sm-6">
													<div class="form-group">
														<label>Item Scheme</label> <select chosen
															class="form-control" ng-model="vm.itemSchemeObj"
															ng-options="itemScheme as itemScheme.name for itemScheme in vm.itemSchemeList"
															ng-change="vm.setItemSchemeDetails(vm.itemSchemeObj);"
															data-placeholder-text-single="'Select Item Scheme'">
															<option value=""></option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-1">
										<button class="btn btn-xs btn-info"
											data-ng-click="vm.clearItemSchemeMappingData(item.id);">
											<i class="fa fa-plus"></i> Clear All
										</button>
										<button class="btn btn-xs btn-primary"
											data-ng-click="vm.addItemSchemeMapping();">
											<i class="fa fa-pencil"></i> Add
										</button>
									</div>
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Scheme</th>
											<th>Discount</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="itemSchemes in vm.itemObj.itemSchemesMappingList track by $index">
											<td>{{$index + 1}}</td>
											<td>{{itemSchemes.name}}</td>
											<td>{{itemSchemes.discount}}</td>
											<td>
												<button class="btn btn-xs btn-danger"
													data-ng-click="vm.deleteItemSchemeMapping($index);">
													<i class="fa fa-trash-o"></i> Delete
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" rows="4" cols="50"
									style="min-height: 100px; height: 100%; width: 100%;" ng-model="vm.itemObj.description">
								</textarea>
							</div>
							<div>
								<button
									class="ladda-button ladda-button-demo btn btn-primary btn-sm"
									data-style="zoom-in" ladda="loadingDemo" ng-click="vm.save(dataForm);">
									<i class="fa fa-save"></i> Save
								</button>
								<button
									class="ladda-button ladda-button-demo btn custom-btn-default btn-sm"
									data-style="zoom-in" ladda="loadingDemo"
									ng-click="vm.cancel()">
									<i class="fa fa-times"></i> Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

