<div class="col-lg-12">
	<h2 class="col-sm-6">{{pageTitle}}</h2>
	<div class="col-lg-6">
		<ol class="breadcrumb pull-right">
			<li><a href="#/category">Home</a></li>
			<li class="active"><strong>{{pageTitle}}</strong></li>
		</ol>
	</div>
</div>