<div ng-include="'resources/aone/web/commons/html/HeaderSectionAddUpdate.html'"></div>

<div class="row">
	<div class="col-lg-12 custom-nopadding">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 b-r">
						<form role="form" class="col-sm-12" name="dataForm" ng-validate="vm.validationOptions">
							<div class="col-sm-12">
								<div class="form-group">
									<label>Customer Name</label> <select chosen class="form-control"
										ng-model="vm.salesOrderObj.contactObj"
										ng-options="contact as contact.fullName for contact in vm.contacts"
										ng-change="vm.setContactData(vm.salesOrderObj.contactObj);">
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label>Date</label> 
									<div class="col-sm-8">
										<div class="input-group date">
					                		<input type="datetime" class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-not-empty" date-time="" ng-model="vm.orderDate" view="date" auto-close="true" min-view="date" format="DD-MM-YYYY">
					                		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				            			</div>
				            		</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label>Desktop Sales Order No</label> <input type="text"
										placeholder="Enter Sales Order no"
										class="form-control input-sm" ng-model="vm.salesOrderObj.desktopSalesOrderId"
										name="name" />
								</div>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<label>Item Details</label>
									<div class="col-sm-11">
										<div class="row">
											<div class="col-sm-12">
												<div class="col-sm-4">
													<div class="form-group">
														<label>Barcode</label> <input type="text"
															placeholder="Enter Barcode"
															class="form-control input-sm" ng-model="vm.salesOrderDetailsObj.itemName"
															name="name" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>Order Quantity</label> <input type="text"
															placeholder="Enter quantity"
															class="form-control input-sm" ng-model="vm.salesOrderDetailsObj.orderQty"
															name="name" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>Remaining Quantity</label> <input type="text"
															placeholder="Enter quantity"
															class="form-control input-sm" ng-model="vm.salesOrderDetailsObj.remainingQty"
															name="name" />
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<label>Description</label> <input type="text"
															placeholder="Enter description"
															class="form-control input-sm" ng-model="vm.salesOrderDetailsObj.description"
															name="name" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-1">
										<button class="btn btn-xs btn-info"
											data-ng-click="vm.clearAddSalesOrderDetails();">
											<i class="fa fa-plus"></i> Clear All
										</button>
										<button class="btn btn-xs btn-primary"
											data-ng-click="vm.addSalesOrderDetails();">
											<i class="fa fa-pencil"></i> Add
										</button>
									</div>
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Barcode</th>
											<th>Order Qty</th>
											<th>Remaining Qty</th>
											<th>Description</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr	data-ng-repeat="salesOrderDetails in vm.salesOrderObj.salesOrderDetailsList track by $index">
											<td>{{$index + 1}}</td>
											<td>{{salesOrderDetails.itemName}}</td>
											<td>{{salesOrderDetails.orderQty}}</td>
											<td>{{salesOrderDetails.remainingQty}}</td>											
											<td>{{salesOrderDetails.description}}</td>
											<td>
												<button class="btn btn-xs btn-danger"
													data-ng-click="vm.deleteSalesOrderDetailsMapping($index);">
													<i class="fa fa-trash-o"></i> Delete
												</button>
											</td>
										</tr>
										<!-- <tr>
											<td colspan="8" style="text-align: right;">Total</td>
											<td>{{vm.salesObj.grandTotal}}</td>
											<td>{{vm.salesObj.grandTotal - vm.salesObj.subTotal}}</td>
											<td>{{vm.salesObj.subTotal}}</td>
											<td>{{vm.salesObj.basePriceNetTotal}}</td>
										</tr> -->
									</tbody>
								</table>
							</div>
							<div class="col-sm-12 form-group">
								<label>Description</label>
								<textarea class="form-control" rows="4" cols="50"
									style="min-height: 100px; height: 100%; width: 100%;" ng-model="vm.salesOrderObj.description">
								</textarea>
							</div>
							<div class="col-sm-6">
								<button
									class="ladda-button ladda-button-demo btn btn-primary btn-sm"
									data-style="zoom-in" ladda="loadingDemo" ng-click="vm.save(dataForm);">
									<i class="fa fa-save"></i> Save
								</button>
								<button
									class="ladda-button ladda-button-demo btn custom-btn-default btn-sm"
									data-style="zoom-in" ladda="loadingDemo"
									ng-click="vm.cancel()">
									<i class="fa fa-times"></i> Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

