<div class="row ngduallist">
    <div class="col-sm-4 left-container">
        <label>{{duallistOption.leftContainerLabel}}</label>
        <span class="info-container">     
            <span class="info" ng-if="leftscope.length > 0">Showing all {{leftscope.length}}</span>
        <span class="info" ng-if="leftscope.length == 0">Empty List</span>
        </span>
        <!-- <!-- <form class="form-inline"> --> -->
            <div>
                <div class="input-group">
                    <input type="text" class="form-control" id="leftsearch" placeholder="Search">
                    <div class="input-group-addon">
                        <input title="toggle all" class="all pull-right" ng-model="leftSelectAll" ng-change="selectAllLeftContainer()" type="checkbox"> </div>
                </div>
            </div>
        <!-- </form> -->

        <div class="left-sub-container">
            <div class="list-group" id="list1">
                <div ng-class="{active:data.selected}" ng-repeat="data in leftscope track by $index" class="list-group-item">{{data.displayInListName}}
                    <input class="pull-right" ng-model="data.selected" type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 v-center">
        <button id="moveRightButton" ng-click="moveRight()" title="Send to list 2" class="btn btn-default center-block add"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button id="moveLeftButton" ng-click="moveLeft()" title="Send to list 1" class="btn btn-default center-block remove"><i class="glyphicon glyphicon-chevron-left"></i></button>
    </div>
    <div class="col-sm-4 right-container">
        <label>{{duallistOption.rightContainerLabel}}</label>
        <span class="info-container">     
            <span class="info" ng-if="rightscope.length > 0">Showing all {{rightscope.length}}</span>
        <span class="info" ng-if="rightscope.length == 0">Empty List</span>
        </span>
        <!-- <form class="form-inline"> -->
            <div>
                <div class="input-group">
                    <input type="text" class="form-control" id="rightsearch" placeholder="Search">
                    <div class="input-group-addon">
                        <input ng-model="rightSelectAll" ng-change="selectAllRightContainer()" title="toggle all" class="all pull-right" type="checkbox"> </div>
                </div>
            </div>
        <!-- </form> -->

        <div class="right-sub-container">
            <div class="list-group" id="list2">
                <div ng-class="{active:data.selected}" ng-repeat="data in rightscope track by $index" class="list-group-item">{{data.displayInListName}}
                    <input ng-model="data.selected" class="pull-right" type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>