<div ng-include="'resources/aone/web/commons/html/HeaderSection.html'"></div>
<div class="animated fadeInRight">

	<div class="row">
		<div class="col-lg-12 custom-nopadding">
			<div class="ibox float-e-margins">
				<div class="ibox-content {{vm.checkTableLoading()}}">
					<!-- loading spinner -->
					<div class="sk-spinner sk-spinner-three-bounce">
						<div class="sk-bounce1"></div>
						<div class="sk-bounce2"></div>
						<div class="sk-bounce3"></div>
					</div>

					<!-- searching div -->
					<input type="text" class="form-control input-sm m-b-xs" id="filter"
						placeholder="Search in table">

					<!-- table data div -->
					<table
						class="table footable toggle-arrow-tiny table-mail table-hover"
						data-page-size="10" data-striping="false">
						<thead>
							<tr>
								<th data-sort-ignore="true" class="check-mail"><input
									icheck type="checkbox" ng-change="vm.toggleAll();"
									ng-model="vm.isAllSelected"></th>
								<th data-toggle="true" ng-click="vm.changeSorting('name')">Name</th>
								<th ng-click="vm.changeSorting('countryId')">State</th>
								<th ng-click="vm.changeSorting('active')">Active</th>
								<th ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE') || checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE')" data-sort-ignore="true" class="text-center" width="15%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="city in vm.getList() track by $index"
								foo-repeat-done="vm.getHome();">
								<td class="check-mail"><input icheck type="checkbox"
									ng-model="city.selected" ng-change="vm.optionToggled()">
								</td>
								<td>{{city.name}}</small></td>
								<td>{{city.state.name}}</td>
								<td class="project-status"><span
									class="badge badge-primary" ng-show="city.active">Active</span>
									<span class="badge badge-default" ng-hide="city.active">Inactive</span>
								</td>
								<td ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE') || checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE')" >
									<button ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE');" class="btn btn-xs btn-warning"
										data-ng-click="vm.edit(city.id);">
										<i class="fa fa-pencil"></i> Edit
									</button>
									<button ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE');" class="btn btn-xs btn-danger"
										data-ng-click="vm.deleteData(city.id);"
										ladda="vm.getShowDeleteSingleBtnLoading(city.id);">
										<i class="fa fa-trash-o"></i> Delete
									</button>
								</td>
							</tr>
						</tbody>
						<!-- <tfoot>
							<tr>
								<td colspan="5">
									<div-pagination-control total-items="vm.totalRecords"
										current-page="vm.selectedPage"
										items-per-page="vm.recordsPerPage"
										on-page-change="vm.getUnDeletedData();"
										class="pagination-sm nomargin pull-right">
									</div-pagination-control>
								</td>
							</tr>
						</tfoot> -->
					</table>

				</div>
			</div>
		</div>
	</div>
</div>