<div class="pull-right cust-paged">
    <button class="btn custom-btn-default btn-sm" id="firstBtn" ng-click="setCurrentPage(1, 'first')" ng-show="boundaryLinksFlag" ng-bind="firstBtnText" ng-class="{disabled : currentPage == 1}" ng-disabled="currentPage == 1"></button>
    <button class="btn custom-btn-default btn-sm" id="prevBtn"  ng-click="setCurrentPage(currentPage, 'prev')" ng-show="directionLinksFlag" ng-class="{disabled : currentPage == 1}" ng-bind="prevBtnText" ng-disabled="currentPage == 1"></button>
    <span>Page</span>
    <input type="text" class="input-sm m-b-xs" ng-model="currentPage" ng-keypress="goToPage($event, currentPage)" only-num />
    <span ng-bind="'of ' + lastNavPage"></span>
    <button class="btn custom-btn-default btn-sm" id="nextBtn"  ng-click="setCurrentPage(currentPage, 'next')" ng-show="directionLinksFlag" ng-class="{disabled : currentPage  == lastNavPage || lastNavPage == 1}"  ng-bind="nextBtnText" ng-disabled="currentPage == lastNavPage || lastNavPage == 1"></button>
    <button class="btn custom-btn-default btn-sm" id="lastBtn" ng-show="boundaryLinksFlag" ng-click="setCurrentPage(lastNavPage, 'last')" ng-bind="lastBtnText" ng-class="{disabled : currentPage  == lastNavPage || lastNavPage == 1}" ng-disabled="currentPage == lastNavPage || lastNavPage == 1"></button>
</div>
<label class="encounter-label pad-top5 pad-right5" ng-show="totalCountVisibleFlag"><span>Total Counts :</span> <span ng-bind="totalCounts"></span></label>
<label class="encounter-label pad-top5 pad-right5" ng-show="totalChargesVisibleFlag">&nbsp;|&nbsp;<span>Total Charges : {{ totalCharges | currency : '$' : 2}} </span></label>
<div class="clearfix"></div>