<div ng-include="'resources/aone/web/commons/html/HeaderSection.html'"></div>
<div class="animated fadeInRight">

	<div class="row">
		<div class="col-lg-12 custom-nopadding">
			<div class="ibox float-e-margins">
				<div class="ibox-content {{vm.checkTableLoading()}}">
					<!-- loading spinner -->
					<div class="sk-spinner sk-spinner-three-bounce">
						<div class="sk-bounce1"></div>
						<div class="sk-bounce2"></div>
						<div class="sk-bounce3"></div>
					</div>

					<!-- searching div -->
					<div class="col-sm-12">
						<!-- <div class="col-sm-4 form-group">
							<label>Select Agent</label> <select chosen class="form-control"
								ng-model="vm.agentMasterObj"
								ng-options="agentMaster as agentMaster.name for agentMaster in vm.agentMasterList"
								ng-change="vm.setAgentMasterData(vm.agentMasterObj);">
								<option value=""></option>
							</select>
						</div>
						<div class="col-sm-4 form-group" ng-if="!isSuperStockiestLogin();">
							<label>Select Super Stockiest</label> <select chosen class="form-control"
								ng-model="vm.superStockiestObj"
								ng-options="superStockiest as superStockiest.name for superStockiest in vm.superStockiestList"
								ng-change="vm.setSuperStockiestData(vm.superStockiestObj);">
								<option value=""></option>
							</select>
						</div>
						
						<div class="col-sm-4 form-group" ng-if="!isDistributorLogin();">
							<label>Select Distributor</label> <select chosen class="form-control"
								ng-model="vm.distributorObj"
								ng-options="distributor as distributor.name for distributor in vm.distributorList"
								ng-change="vm.setDistributorData(vm.distributorObj);">
								<option value=""></option>
							</select>
						</div> -->
						
						<!-- <div class="col-sm-4 form-group" id="data_1">
				            <label class="font-normal">Start Date</label>
				            <div class="input-group date">
				                <input type="datetime" class="form-control" date-time ng-model="vm.startDate" view="date" auto-close="true" min-view="date" format="DD-MM-YYYY" ng-change="vm.refreshData();">
				                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				            </div>
				        </div>
				        <div class="col-sm-4 form-group" id="data_1">
				            <label class="font-normal">End Date</label>
				            <div class="input-group date">
				                <input type="datetime" class="form-control" date-time ng-model="vm.endDate" view="date" auto-close="true" min-view="date" format="DD-MM-YYYY" ng-change="vm.refreshData();">
				                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				            </div>
				        </div> -->
				        <!-- <div class="col-sm-4 form-group">
							<label>Total Amount</label>
							<input type="name"
									placeholder="Enter name" class="form-control"
									ng-model="vm.totalAmount" name="name" disabled="disabled">
						</div>
						<div class="col-sm-4 form-group">
							<label>Base Total</label>
							<input type="name"
									placeholder="Enter name" class="form-control"
									ng-model="vm.totalBaseAmount" name="name" disabled="disabled">
						</div> -->
			        	<!-- <div class="col-sm-4 form-group" id="data_1" ng-if="!isDistributorLogin();">
					        <button class="btn btn-sm btn-success" ng-click="vm.getExcelExportList()" >Export
								To Excel</button>
								
							<button class="btn btn-sm btn-warning" ng-click="vm.clearSearch()" >Clear Search</button>	
							<button id="btnExport" name="btnExport" style="display: none"
								ng-json-export-excel dataobj="vm.getExportList()"
								report-fields="{agentName:'Agent Name', customerName :'Customer Name', shopLocation:'Shop Location', agentLocation:'Agent Location', orderDate:'Order Date', subTotal:'Total Amount'}">Json
								Export</button>
			        	</div> -->
					</div>
					<div class="col-sm-12">
						
					</div>

					<!-- table data div -->
					<table
						class="table footable toggle-arrow-tiny table-mail table-hover"
						data-page-size="10" data-striping="false">
						<thead>
							<tr>
								<th data-sort-ignore="true" class="check-mail"><input
									icheck type="checkbox" ng-change="vm.toggleAll();"
									ng-model="vm.isAllSelected"></th>
								<th data-toggle="true" ng-click="vm.changeSorting('contactId')">Customer Name</th>
								<th ng-click="vm.changeSorting('orderDate')">Order Date</th>
								<th data-toggle="true" ng-click="vm.changeSorting('contactId')">Data Synced</th>
								<th ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE') || checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE')" data-sort-ignore="true" class="text-center" width="15%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="sales in vm.getList() track by $index"
								foo-repeat-done="vm.getHome();">
								<td class="check-mail"><input icheck type="checkbox"
									ng-model="sales.selected" ng-change="vm.optionToggled()">
								</td>
								<td>{{sales.contact.fullName}}</small></td>
								<td style="width : 100px;">{{sales.orderDateView}}</td>
								<td style="width : 100px;">{{sales.syncedInDesktop}}</td>
								<td ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE') || checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE')" >
									<button ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE');" class="btn btn-xs btn-warning"
										data-ng-click="vm.edit(sales.id);">
										<i class="fa fa-pencil"></i> Edit
									</button>
									<button ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE');" class="btn btn-xs btn-danger"
										data-ng-click="vm.deleteData(sales.id);"
										ladda="vm.getShowDeleteSingleBtnLoading(sales.id);">
										<i class="fa fa-trash-o"></i> Delete
									</button>
								</td>
							</tr>
						</tbody>
						<!-- <tfoot>
							<tr>
								<td colspan="5">
									<div-pagination-control total-items="vm.totalRecords"
										current-page="vm.selectedPage"
										items-per-page="vm.recordsPerPage"
										on-page-change="vm.getUnDeletedData();"
										class="pagination-sm nomargin pull-right">
									</div-pagination-control>
								</td>
							</tr>
						</tfoot> -->
					</table>

				</div>
			</div>
		</div>
	</div>
</div>