<div class="footer fixed">
    <!-- <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div> -->
    <div>
        <strong>Copyright</strong> A-One TechnoLabs &copy; 2017-2019
    </div>
</div>
