<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<div-header-title page-title="vm.getTitle();">
		</div-header-title>
		
		<div class="col-lg-12">
			<div-header-buttons 
				on-delete-all="vm.deleteAllSelected();" 
				is-show-delete-all-btn-loading="vm.getDeleteAllBtnLoading();"
				on-add="vm.add();" 
				is-show-add-btn-loading="vm.getShowAddBtnLoading();"
				on-refresh="vm.refreshData();"				
				is-show-refresh-btn-loading="vm.getRefreshBtnLoading();"				
				is-enable-action-button="vm.isAnySelected();"
				mark-active="vm.markActive();"
				mark-inactive="vm.markInactive();"
				check-add-button-permission="vm.checkAddButtonPermission();"
				check-delete-button-permission="vm.checkDeleteButtonPermission();"
				get-active-button-label="vm.getActiveButtonLabel();"
				get-in-active-button-label="vm.getInActiveButtonLabel();">
			</div-header-buttons>
			<div class="pull-right">
                <div-pagination-control 
                	total-items="vm.totalRecords"
                    current-page="vm.selectedPage"
                    items-per-page="vm.recordsPerPage"
                    on-page-change="vm.getUnDeletedData();"
					class="pagination-sm nomargin"
					boundary-links="true">
				</div-pagination-control>
			</div>
		</div>
	</div>
</div>