 <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Welcome {{getLoginUserName()}}</strong>
                             	</span>
                                <!-- <span class="text-muted text-xs block">Example menu<b class="caret"></b></span> -->
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </div>
               <!--  <div class="logo-element">
                    A
                </div>icon lpanel -->

            </li>
            <!-- <li ng-show="checkModulePermission('USER')"><a href="#/user"><i class="fa fa-user-o"></i> <span class="nav-label">User</span> </a></li>
            <li ng-show="checkModulePermission('USER_ROLE_GROUP')"><a href="#/userRoleGroup"><i class="fa fa-bank"></i> <span class="nav-label">User Role Group</span> </a></li> -->
            <li ng-show="checkModulePermission('CONTACT')"><a href="#/contact"><i class="fa fa-user-o"></i> <span class="nav-label">Contacts</span> </a></li>
            <li><a href="#/salesOrder"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Sales Orders</span> </a></li>
            <li><a href="#/sales"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Sales Bills</span> </a></li>
            <li ng-show="checkModulePermission('COUNTRY') 
            		|| checkModulePermission('STATE') 
            		|| checkModulePermission('CITY')"> <!-- ng-class="{active: $state.includes('dashboards')}" -->
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Settings</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse"><!-- ng-class="{in: $state.includes('dashboards')}" -->
                	<li ng-show="checkModulePermission('COUNTRY')"><a href="#/country"><i class="fa fa-bank"></i> <span class="nav-label">Country</span> </a></li>
		            <li ng-show="checkModulePermission('STATE')"><a href="#/state"><i class="fa fa-eercast"></i> <span class="nav-label">State</span> </a></li>
		            <li ng-show="checkModulePermission('CITY')"><a href="#/city"><i class="fa fa-shopping-cart"></i> <span class="nav-label">City</span> </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>