<div class="btn-group" uib-dropdown>
	<button type="button" class="btn custom-btn-default btn-sm" uib-dropdown-toggle ng-disabled="!isEnableActionButton();">
		Action <span class="caret"></span>
	</button>
	<ul role="menu" uib-dropdown-menu="" ng-hide="!isEnableActionButton();">
		<li><a ng-click="markActive();">{{getActiveButtonLabel()}}</a></li>
		<li><a ng-click="markInactive();">{{getInActiveButtonLabel()}}</a></li>
		<li ng-show= "checkDeleteButtonPermission();"><a ng-click="onDeleteAll();">Delete</a></li>
	</ul>
</div>
<button ng-show= "checkAddButtonPermission();" class="ladda-button ladda-button-demo btn btn-primary btn-sm" data-style="zoom-in" ladda="isShowAddBtnLoading();" data-ng-click="onAdd();">
	<i class="fa fa-plus"></i> 
	New 
	<span show-during-resolve class="glyphicon glyphicon-refresh loading-icon"></span>
</button>
<!-- <button class="ladda-button ladda-button-demo btn btn-danger btn-sm" data-style="zoom-in" ladda="isShowDeleteAllBtnLoading();" data-ng-click="onDeleteAll();">
	<i class="fa fa-trash-o"></i> 
	Delete
	<span show-during-resolve class="glyphicon glyphicon-refresh loading-icon"></span>
</button> -->
<button data-trigger="footable_expand_all" class="ladda-button ladda-button-demo btn btn-info btn-sm" data-style="zoom-in" ladda="isShowRefreshBtnLoading();" data-ng-click="onRefresh();">
	<i class="fa fa-refresh"></i> 
	Refresh 
	<span show-during-resolve class="glyphicon glyphicon-refresh loading-icon"></span>
</button>