<div ng-include="'resources/aone/web/commons/html/HeaderSectionAddUpdate.html'"></div>

<div class="row">
	<div class="col-lg-12 custom-nopadding">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<form role="form" class="col-sm-6" name="dataForm" ng-validate="vm.validationOptions">
					<div class="form-group row"
						ng-class="{ 'has-error' : dataForm.fullName.$invalid }">
						<label class="col-sm-2 col-form-label">Full Name</label> 
						<div class="col-sm-10">
							<input type="name"
								placeholder="Enter full name" class="form-control"
								ng-model="vm.contactObj.fullName" name="fullName" capitalize>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Shop Address</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="3" cols="50"
								style="min-height: 75px; height: 100%; width: 100%;" ng-model="vm.contactObj.shopAddress.street" capitalize>
							</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">City</label> 
						<div class="col-sm-10">
							<select chosen class="form-control"
								ng-model="vm.cityObj"
								ng-options="city as city.name for city in vm.cities"
								ng-change="vm.setCityData(vm.cityObj);">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">State</label> 
						<div class="col-sm-10">
							<select chosen class="form-control"
								ng-model="vm.stateObj"
								ng-options="state as state.name for state in vm.states"
								ng-change="vm.setStateData(vm.stateObj);">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Country</label> 
						<div class="col-sm-10">
							<select chosen class="form-control"
								ng-model="vm.countryObj"
								ng-options="country as country.name for country in vm.countries"
								ng-change="vm.setCountryData(vm.countryObj);">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" cols="50"
								style="min-height: 100px; height: 100%; width: 100%;" ng-model="vm.contactObj.description" capitalize>
							</textarea>
						</div>
					</div>
					<div class="row">
						<div class="form-group row">
							<button
								class="ladda-button ladda-button-demo btn btn-primary btn-sm"
								data-style="zoom-in" ladda="loadingDemo" ng-click="vm.save(dataForm);">
								<i class="fa fa-save"></i> Save
							</button>
							<button
								class="ladda-button ladda-button-demo btn custom-btn-default btn-sm"
								data-style="zoom-in" ladda="loadingDemo"
								ng-click="vm.cancel()">
								<i class="fa fa-times"></i> Cancel
							</button>
							<button
								class="ladda-button ladda-button-demo btn btn-warning btn-sm"
								data-style="zoom-in" ladda="loadingDemo"
								ng-click="vm.clearAll()">
								<i class="fa fa-times"></i> Clear All
							</button>
							<br/>
							<br/>
							<br/>
							<br/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

