<div ng-include="'resources/aone/web/commons/html/HeaderSectionAddUpdate.html'"></div>

<div class="row">
	<div class="col-lg-12 custom-nopadding">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 b-r">
						<form role="form" class="col-sm-6" name="dataForm" ng-validate="vm.validationOptions">
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.mobile1.$invalid }">
								<label>Mobile 1</label> <input type="name"
									placeholder="Enter mobile 1" class="form-control"
									ng-model="vm.contactObj.mobile1" ng-keypress="vm.handleMobile1KeyPress($event);" name="mobile1" capitalize>
									<!-- ng-blur="vm.loadByMobile1Number();" --> 
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.mobile2.$invalid }">
								<label>Mobile 2</label> <input type="name"
									placeholder="Enter mobile 2" class="form-control"
									ng-model="vm.contactObj.mobile2" name="mobile2" capitalize>
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.fullName.$invalid }">
								<label>Full Name</label> <input type="name"
									placeholder="Enter full name" class="form-control"
									ng-model="vm.contactObj.fullName" name="fullName" capitalize>
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.emailId.$invalid }">
								<label>Email</label> <input type="name"
									placeholder="Enter email" class="form-control"
									ng-model="vm.contactObj.emailId" name="emailId" capitalize>
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.amount.$invalid }">
								<label>Amount</label> <input type="name"
									placeholder="Enter amount" class="form-control"
									ng-model="vm.contactObj.amount" name="amount" capitalize>
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.product.$invalid }">
								<label>Product</label> <input type="name"
									placeholder="Enter product" class="form-control"
									ng-model="vm.contactObj.product" name="product" capitalize>
							</div>
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.referredBy.$invalid }">
								<label>Referred By</label> <input type="name"
									placeholder="Enter referred by" class="form-control"
									ng-model="vm.contactObj.referredBy" name="referredBy" capitalize>
							</div>
							<div class="form-group">
								<label>Shop Address</label>
								<textarea class="form-control" rows="3" cols="50"
									style="min-height: 75px; height: 100%; width: 100%;" ng-model="vm.contactObj.shopAddress.street" capitalize>
								</textarea>
							</div>
							<div class="form-group">
								<label>City</label> <select chosen class="form-control"
									ng-model="vm.cityObj"
									ng-options="city as city.name for city in vm.cities"
									ng-change="vm.setCityData(vm.cityObj);">
									<option value=""></option>
								</select>
							</div>
							<div class="form-group">
								<label>State</label> <select chosen class="form-control"
									ng-model="vm.stateObj"
									ng-options="state as state.name for state in vm.states"
									ng-change="vm.setStateData(vm.stateObj);">
									<option value=""></option>
								</select>
							</div>
							<div class="form-group">
								<label>Country</label> <select chosen class="form-control"
									ng-model="vm.countryObj"
									ng-options="country as country.name for country in vm.countries"
									ng-change="vm.setCountryData(vm.countryObj);">
									<option value=""></option>
								</select>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" rows="4" cols="50"
									style="min-height: 100px; height: 100%; width: 100%;" ng-model="vm.contactObj.description" capitalize>
								</textarea>
							</div>
							<div class="col-sm-12">
								<div class="row">
									<label>Notes Details</label>
									<div class="col-sm-11">
										<div class="row">
											<div class="col-sm-12">
												<div class="col-sm-12">
													<div class="form-group">
														<label>Date</label> 
														<div class="input-group date">
									                		<input type="datetime" class="form-control ng-pristine ng-untouched ng-valid ng-scope ng-not-empty" date-time="" ng-model="vm.contactNotesDetailsObj.notesDate" view="date" auto-close="true" min-view="date" format="DD-MM-YYYY">
									                		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									            		</div>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="form-group">
														<label>Current Login User</label>
														<input type="text"
															placeholder="Login User"
															class="form-control input-sm" ng-model="vm.contactNotesDetailsObj.userName"
															name="loginUser" disabled="disabled" />
													</div>
												</div>
												<div class="col-sm-12">
													<label>Description</label>
													<textarea class="form-control" rows="4" cols="50"
														style="min-height: 100px; height: 100%; width: 100%;" ng-model="vm.contactNotesDetailsObj.description" capitalize>
													</textarea>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-1">
										<button class="btn btn-xs btn-info"
											data-ng-click="vm.clearContactNotesDetailsData();">
											<i class="fa fa-plus"></i> Clear All
										</button>
										<button class="btn btn-xs btn-primary"
											data-ng-click="vm.addContactNotesDetailsData();">
											<i class="fa fa-pencil"></i> Add
										</button>
									</div>
								</div>
							</div>
							<div class="col-sm-12 form-group">
								<br/>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Date</th>
											<th>User</th>
											<th>Description</th>
											<th width="15%" ng-if="checkModuleButtonPermission(vm.getPermissionModule(), 'NOTES_DELETE');">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="contactNotesDetails in vm.contactObj.contactNotesDetailsList track by $index">
											<td>{{$index + 1}}</td>
											<td>{{contactNotesDetails.notesDateFormatted}}</td>
											<td>{{contactNotesDetails.userName}}</td>
											<td>{{contactNotesDetails.description}}</td>
											<td ng-if="checkModuleButtonPermission(vm.getPermissionModule(), 'NOTES_DELETE');">
												<button class="btn btn-xs btn-danger"
													data-ng-click="vm.deleteContactNotesDetailsData($index);">
													<i class="fa fa-trash-o"></i> Delete
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div>
								<button
									class="ladda-button ladda-button-demo btn btn-primary btn-sm"
									data-style="zoom-in" ladda="loadingDemo" ng-click="vm.save(dataForm);">
									<i class="fa fa-save"></i> Save
								</button>
								<button
									class="ladda-button ladda-button-demo btn custom-btn-default btn-sm"
									data-style="zoom-in" ladda="loadingDemo"
									ng-click="vm.cancel()">
									<i class="fa fa-times"></i> Cancel
								</button>
								<button
									class="ladda-button ladda-button-demo btn btn-warning btn-sm"
									data-style="zoom-in" ladda="loadingDemo"
									ng-click="vm.clearAll()">
									<i class="fa fa-times"></i> Clear All
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

