<div ng-include="'resources/aone/web/commons/html/HeaderSection.html'"></div>

<div class="animated fadeInRight">

	<div class="row">
		<div class="col-lg-12 custom-nopadding">
			<div class="ibox float-e-margins">
				<div class="ibox-content {{vm.checkTableLoading()}}">
					<!-- loading spinner -->
					<div class="sk-spinner sk-spinner-three-bounce">
						<div class="sk-bounce1"></div>
						<div class="sk-bounce2"></div>
						<div class="sk-bounce3"></div>
					</div>

					<!-- searching div -->
					<div class="col-sm-12">
						<div class="col-sm-4 form-group">
							<label>Full Name</label>
							<input type="name"
									placeholder="Enter full name" class="form-control"
									ng-model="vm.contactObj.fullName" name="fullName">
						</div>
						<!-- <div class="col-sm-4 form-group">
							<label>Mobile 1</label>
							<input type="name"
									placeholder="Enter mobile 1" class="form-control"
									ng-model="vm.contactObj.mobile1" name="mobile1">
						</div>
						<div class="col-sm-4 form-group">
							<label>Mobile 2</label>
							<input type="name"
									placeholder="Enter mobile 2" class="form-control"
									ng-model="vm.contactObj.mobile2" name="mobile2">
						</div>
						<div class="col-sm-4 form-group">
							<label>Users</label> <select chosen
								class="form-control" ng-model="vm.userObj"
								ng-options="userObj as userObj.name for userObj in vm.userList"
								ng-change="vm.setUserData(vm.userObj);"
								data-placeholder-text-single="'Select user'">
								<option value=""></option>
							</select>
						</div>
						<div class="col-sm-4 form-group" id="data_1">
				            <label class="font-normal">Start Date</label>
				            <div class="input-group date">
				                <input type="datetime" class="form-control" date-time ng-model="vm.contactObj.startDate" view="date" auto-close="true" min-view="date" format="DD-MM-YYYY" ng-change="vm.refreshData();">
				                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				            </div>
				        </div>
				        <div class="col-sm-4 form-group" id="data_1">
				            <label class="font-normal">End Date</label>
				            <div class="input-group date">
				                <input type="datetime" class="form-control" date-time ng-model="vm.contactObj.endDate" view="date" auto-close="true" min-view="date" format="DD-MM-YYYY" ng-change="vm.refreshData();">
				                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				            </div>
				        </div> 
				        <div class="col-sm-12 form-group" id="data_1">
							<button class="btn btn-sm btn-warning" ng-click="vm.clearSearch()" >Clear Search</button>
							<button class="btn btn-sm btn-success" ng-click="vm.getExcelExportList()" >Export
								To Excel</button>
							<button id="btnExport" name="btnExport" style="display: none"
								ng-json-export-excel dataobj="vm.getExportList()"
								report-fields="{mobile1: 'Mobile 1', mobile2:'Mobile 2', fullName:'Full Name', emailId:'Email Id', amount:'Amount', product:'Product', referredBy:'Referred By', description:'Description', createdByUserName:'Created By', addressStreet :'Address', addressCity:'City', addressState:'State', addressCountry:'Country'}">Json
								Export</button>
			        	</div>-->
					</div>

					<!-- table data div -->
					<table
						class="table footable toggle-arrow-tiny table-mail table-hover"
						data-page-size="10" data-striping="false">
						<thead>
							<tr>
								<th data-sort-ignore="true" class="check-mail"><input
									icheck type="checkbox" ng-change="vm.toggleAll();"
									ng-model="vm.isAllSelected"></th>
								<th ng-click="vm.changeSorting('fullName')">Full Name</th>
								<th>Shop Address</th>
								<th ng-click="vm.changeSorting('city')">City</th>
								<th ng-click="vm.changeSorting('state')">State</th>
								<th ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE') || checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE')" data-sort-ignore="true" class="text-center" width="15%">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="contact in vm.getList() track by $index"
								foo-repeat-done="vm.getHome();">
								<td class="check-mail"><input icheck type="checkbox"
									ng-model="contact.selected" ng-change="vm.optionToggled()">
								</td>
								<td>{{contact.fullName}}</td>
								<td>{{contact.shopAddress.street}}</td>
								<td>{{contact.shopAddress.city.name}}</td>
								<td>{{contact.shopAddress.state.name}}</td>
								<td ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE') || checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE')" >
									<button ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'UPDATE');" class="btn btn-xs btn-warning"
										data-ng-click="vm.edit(contact.id);">
										<i class="fa fa-pencil"></i> Edit
									</button>
									<button ng-show="checkModuleButtonPermission(vm.getPermissionModule(), 'DELETE');" class="btn btn-xs btn-danger"
										data-ng-click="vm.deleteData(contact.id);"
										ladda="vm.getShowDeleteSingleBtnLoading(contact.id);">
										<i class="fa fa-trash-o"></i> Delete
									</button>
								</td>
							</tr>
						</tbody>
						<!-- <tfoot>
							<tr>
								<td colspan="5">
									<div-pagination-control total-items="vm.totalRecords"
										current-page="vm.selectedPage"
										items-per-page="vm.recordsPerPage"
										on-page-change="vm.getUnDeletedData();"
										class="pagination-sm nomargin pull-right">
									</div-pagination-control>
								</td>
							</tr>
						</tfoot> -->
					</table>

				</div>
			</div>
		</div>
	</div>
</div>