<div ng-include="'resources/aone/web/commons/html/HeaderSectionAddUpdate.html'"></div>

<div class="row">
	<div class="col-lg-12 custom-nopadding">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12 b-r">
						<form role="form"  class="col-sm-12" name="dataForm" ng-validate="vm.validationOptions">
							<div class="form-group"
								ng-class="{ 'has-error' : dataForm.name.$invalid }">
								<label>Name</label> <input type="name"
									placeholder="Enter name" class="form-control"
									ng-model="vm.userRoleGroupObj.name" name="name">
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" rows="4" cols="50"
									style="min-height: 100px; height: 100%; width: 100%;" ng-model="vm.userRoleGroupObj.description">
								</textarea>
							</div>
							<div>
								<label>Select Permission To Add in Group:</label>
									<duallist duallist-option="vm.options" leftscope="vm.leftValue" leftscopeall="vm.leftValueAll"
										rightscope="vm.rightValue" rightscopeall="vm.rightValueAll"
										 addscope="vm.addValue"
										removescope="vm.removeValue"></duallist>
							</div>
							<div>
								<button
									class="ladda-button ladda-button-demo btn btn-primary btn-sm"
									data-style="zoom-in" ladda="loadingDemo" ng-click="vm.save(dataForm);">
									<i class="fa fa-save"></i> Save
								</button>
								<button
									class="ladda-button ladda-button-demo btn custom-btn-default btn-sm"
									data-style="zoom-in" ladda="loadingDemo"
									ng-click="vm.cancel()">
									<i class="fa fa-times"></i> Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

