<!-- <div class="modal-header">
	<h3 class="modal-title">
		<i class="fa fa-plus"></i>{{data.title}}
	</h3>
</div> -->
<div class="modal-body">{{data.text}}</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="ok()">{{data.ok}}</button>
	<button class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
</div>